# Ignore sensitive config files
appsettings.json
client_secrets.json
*.tokenstore/
tokenstore/
AppConfig.cs 

# Ignore build output
bin/
obj/

# Visual Studio files
*.user
*.suo
*.userprefs
.vscode/
/.vs
/obj